---
layout: default
---

<div class="blog list">
    <h1>Posts sobre: #{{ page.tag }}</h1>

    {% for post in site.categories[page.tag] %}
		<h3 style="margin-bottom: 0">
		  <a class="post-link" href="{{ post.url }}" title="{{ post.title }}">
		    {{ post.title }}
		  </a>
		</h3>
		<span class="post-meta">{% include date_iso8601.html date=post.date %} <span>({% include date_ptbr.html date=post.date %})</span></span>
		<div style="margin-top: 10px">
			{{ post.description }}
			<span><a style="font-size: 0.8em" href="{{ post.url }}" title="{{ post.title }}">continuar lendo</a></span>
		</div><br>
    {% endfor %}
</div>